PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/online-food-ordering
JWT_SECRET=online_food_ordering_secret
SALT_ROUND=8
CLIENT_URLS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174
BEARER_KEY=Bearer

EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-gmail-app-password
